<h1 class="text-center">SIGN IN</h1>

<div class="text-center form-container">
  <%= bootstrap_form_for :user, url: session_path, method: :post do |f| %>
    <%= f.text_field :username, label: 'Username', class: 'better-form' %>
    <%= f.password_field :password, label: 'Password', class: 'better-form' %>
    <%= f.submit "Sign In" %>
  <% end %>
</div>
