<div class="text-center form-container">
  <!--Nice job using a partial here!!  -->
  <%= bootstrap_form_for :event, url: event_path(@event), method: :patch do |f| %>
      <%= render partial: "events_fields", locals: { f: f}%>
  <% end %>
</div>
