<h1 class="text-center">All Events</h1>

<div class="container elist-container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 text-center event-display">
      <% @events.each do |event| %>
      <div class="name-container">
        <h2 class='event-line'><%= link_to event.name,  event_path(event) %></h2>
      </div>
      <div class="modify-container">
        <h4 class='event-line modify-line'><%= link_to 'Edit', edit_event_path(event) %></h2> |
        <h4 class='event-line modify-line'><%= link_to 'Delete', event_path(event), method: :delete, data: {confirm: 'Are you sure you want to delete this?'} %></h2>
      </div>
      <% end %>
    </div>
  </div>
</div>
